html {
    background-color: rgb(132, 0, 255);
}

.app {
    background-color: rgb(0, 255, 221);
    border-style: ridge;
    border-color: black;
    border-width: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 3%;
    margin-right: 3%;
}

.all-articles-page {
    list-style-type: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.article-card-wrapper {
    background-color: rgb(234, 0, 255);
    border-style: solid;
    padding: 10px;
    margin-right: 50px;
    width: auto;
}

.article-card-image-and-title {
    background-color:salmon;
    display: flex;
}

.article-card-image {
    max-height: 100px;
    max-width: 100px;
}
.article-card-title {
    color: black;
}

.article-card-information {
    background-color: rgb(0, 255, 221);
    display: flex;
}

.article-card-subheading {
    padding: 10px;
}
.article-card-votes-comments-counts {
    padding: 10px;
}

.single-article-page {
    background-color: salmon;
    border-style: ridge;
    border-color: black;
    border-width: 10px;
    margin-left: 2rem;
    margin-right: 2rem;

}
.single-article-image {
    max-width: 100%;
    height: auto;
}
.single-article-comments {
    margin: 0px;
    background-color: greenyellow;
}

.comment-section-heading {
    background-color: blueviolet;
    padding-inline-start: 5px;
    color: white;
    margin: 0px
}

.comment-card {
    font-size: small;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    border-style: solid;
    border-color: black;
    background-color: rgb(236, 92, 152);
    margin: 5px;
}

.comment-section-comments {
    list-style-type: none;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

.post-comment-form {
    background-color: cornflowerblue;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-bottom: 20px;
    margin: 10px;
    border-style: solid;
}

.post-comment-follow-up-message {
    background-color: rgb(248, 204, 59);
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
}

.post-comment-input-field {
    width: 50%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

.post-comment-submit-button {
    padding: 8px;
}
