.article-card-wrapper {
    background-color: aqua;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    max-width: 1200px;
}

.article-card-image-and-title {
    background-color: yellow;
    display: flex;
}

.article-card-image {
    height: 100px;
    width: 100px;
}
.article-card-title {
    color: black;
}

.article-card-information {
    background-color: green;
    display: flex;
}

.article-card-subheading {
    padding: 10px;
}
.article-card-votes-comments-counts {
    padding: 10px;
}

